<a href="https://colab.research.google.com/github/luismiguelmartinluengo/Test_in_Colab/blob/main/Introduccion_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
import pyspark
from pyspark.sql import SparkSession

In [108]:
ruta_dataset_1 = 'sample_data/csv1.txt'
ruta_dataset_2 = 'sample_data/csv2.txt'

In [109]:
spark_session = (SparkSession.builder.appName("SparkSQLExampleApp").getOrCreate())

In [110]:
spark_session.version

'3.5.4'

In [111]:
import os
for item in os.listdir('sample_data/'):
  print(item)

README.md
anscombe.json
csv2.txt
csv1.txt
mnist_train_small.csv
mnist_test.csv
california_housing_test.csv
california_housing_train.csv

In [112]:
df1 = spark_session.read.csv(ruta_dataset_1, header = True, sep = ';')

In [113]:
df1.show()

+---+---+-----+---+
|  a|  b|    c|  d|
+---+---+-----+---+
|  1| 21| hola|4.1|
|  2| 22|  que|4.2|
|  3| 23|  tal|4.3|
|  4| 24|estas|4.4|
|  5| 25|   tu|4.5|
+---+---+-----+---+

In [114]:
df1.describe().show()

+-------+------------------+------------------+-----+-------------------+
|summary|                 a|                 b|    c|                  d|
+-------+------------------+------------------+-----+-------------------+
|  count|                 5|                 5|    5|                  5|
|   mean|               3.0|              23.0| NULL|                4.3|
| stddev|1.5811388300841898|1.5811388300841898| NULL|0.15811388300841897|
|    min|                 1|                21|estas|                4.1|
|    max|                 5|                25|   tu|                4.5|
+-------+------------------+------------------+-----+-------------------+

In [115]:
df1.printSchema()

root
 |-- a: string (nullable = true)
 |-- b: string (nullable = true)
 |-- c: string (nullable = true)
 |-- d: string (nullable = true)

In [116]:
df1.isEmpty()

False

In [117]:
df1.columns

['a', 'b', 'c', 'd']

In [118]:
df1.count()

5

In [119]:
df1.head(2)

[Row(a='1', b='21', c='hola', d='4.1'), Row(a='2', b='22', c='que', d='4.2')]

In [120]:
df2 = spark_session.read.csv(ruta_dataset_2, header = True, sep = ';')
df2.show(2)

+---+---+---+---+
|  a|  b|  c|  d|
+---+---+---+---+
|  1|  2|  3|  4|
|  2|  2|  3|  4|
+---+---+---+---+
only showing top 2 rows

In [121]:
dfea = df1.exceptAll(df2)
dfea.show()

+---+---+-----+---+
|  a|  b|    c|  d|
+---+---+-----+---+
|  3| 23|  tal|4.3|
|  5| 25|   tu|4.5|
|  1| 21| hola|4.1|
|  2| 22|  que|4.2|
|  4| 24|estas|4.4|
+---+---+-----+---+

In [122]:
dfea.describe().show()

+-------+------------------+------------------+-----+-------------------+
|summary|                 a|                 b|    c|                  d|
+-------+------------------+------------------+-----+-------------------+
|  count|                 5|                 5|    5|                  5|
|   mean|               3.0|              23.0| NULL|                4.3|
| stddev|1.5811388300841898|1.5811388300841898| NULL|0.15811388300841916|
|    min|                 1|                21|estas|                4.1|
|    max|                 5|                25|   tu|                4.5|
+-------+------------------+------------------+-----+-------------------+

In [123]:
df1.select('a','c').limit(3).show()

+---+----+
|  a|   c|
+---+----+
|  1|hola|
|  2| que|
|  3| tal|
+---+----+

In [124]:
df1.take(2)

[Row(a='1', b='21', c='hola', d='4.1'), Row(a='2', b='22', c='que', d='4.2')]

In [125]:
df1.head(2)

[Row(a='1', b='21', c='hola', d='4.1'), Row(a='2', b='22', c='que', d='4.2')]

In [126]:
filas = df1.limit(2).collect()
print(filas[0].asDict())
print(filas[1].asDict())

{'a': '1', 'b': '21', 'c': 'hola', 'd': '4.1'}
{'a': '2', 'b': '22', 'c': 'que', 'd': '4.2'}